@{
    Layout = "_Layout";
    ViewBag.Title = "About";
}
@section header {
    <h1>About My Website</h1>
}
<body>
    <div class="list-group">
        <p>This website was made by Nicholas D'Andrea for the IT-2030 class.</p>
    </div>
</body>