@{
    Layout = "_Layout";
    ViewBag.Title = "Contact";
}
@section header {
    <h1>Contact Me</h1>
}
<div class="list-group">
    <p>Phone: 555-123-4567</p>
    <p>Email: me@mywebsite.com</p>
    <p>Facebook: facebook.com/mywebsite</p>
</div>

